@model IEnumerable<tblLop>

@{
    int i = 1;
}

<div class="table-responsive">
    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
        <thead>
            <tr class="text-center">
                <th width="1%">
                    STT
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.tblNganhHoc.TenNganh)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TenLop)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Khoa)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.NamHoc)
                </th>
                <th width="100px"> Các thao tác</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr class="text-center">
                    <td>
                        @i
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.tblNganhHoc.TenNganh)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TenLop)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Khoa)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.NamHoc)
                    </td>
                    <td>
                        <a class="information btn btn-sm btn-primary" data-id="@item.ID" data-toggle="tooltip" title="Sửa"> <i class="far fa-edit"></i></a>
                        <a class="btn btn-sm btn-info" href="@Url.Action("DanhSachSinhVien","Lop", new {id = item.ID })" data-toggle="tooltip" title="Danh sách sinh viên"> <i class="fas fa-users"></i></a>
                        <a class="delete btn btn-sm btn-danger" data-id="@item.ID" data-toggle="tooltip" title="Xóa"> <i class="far fa-trash-alt"></i></a>
                    </td>
                </tr>
                i++;
            }
        </tbody>
    </table>
</div>
