<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Admin</title>

    <!-- Custom fonts for this template-->
    <link href="~/Assets/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    @*<link href="~/Assets/vendor/fontawesome-free/css/all.css" rel="stylesheet" />*@
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
          rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="~/Assets/css/sb-admin-2.min.css" rel="stylesheet">

    <!-- Link style sử dụng Toast-->
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" />


</head>

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

            <!-- Sidebar - Brand -->
            <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/Admin/Home/Index">
                <div class="sidebar-brand-icon rotate-n-15">
                    <i class="fas fa-star"></i>
                </div>
                <div class="sidebar-brand-text mx-3">ADMIN</div>
            </a>

            <!-- Divider -->
            <hr class="sidebar-divider my-0">

            <!-- Nav Item - Dashboard -->
            <li class="nav-item">
                <a class="nav-link" href="/Admin/Home/Index">
                    <i class="fas fa-eye"></i>
                    <span>Tổng quan</span>
                </a>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider my-0">

            <!-- Nav Item - Dashboard -->
            <li class="nav-item">
                <a class="nav-link" href="@Url.Action("Index","Chat")">
                    <i class="fas fa-comment-alt"></i>
                    <span>Chat</span>
                </a>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider">

            <!-- Heading -->
            <div class="sidebar-heading">
                Quản lý thông tin chung
            </div>

            <!-- Nav Item - Pages Collapse Menu -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo"
                   aria-expanded="true" aria-controls="collapseTwo">
                    <i class="fas fa-fw fa-university"></i>
                    <span>Ngành học và học phần</span>
                </a>
                <div id="collapseTwo" class="collapse  nav-1" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <h6 class="collapse-header">Các lựa chọn: </h6>
                        <a class="collapse-item" href="@Url.Action("Index", "NganhHoc", null)">Ngành học</a>
                        <a class="collapse-item" href="@Url.Action("Index","HocPhan", null)">Học phần</a>
                    </div>
                </div>
            </li>

            <!-- Nav Item - Utilities Collapse Menu -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseUtilities"
                   aria-expanded="true" aria-controls="collapseUtilities">
                    <i class="fas fa-fw fa-chalkboard-teacher"></i>
                    <span>Giảng viên, lớp học phần</span>
                </a>
                <div id="collapseUtilities" class="collapse nav-2" aria-labelledby="headingUtilities"
                     data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <h6 class="collapse-header">Các lựa chọn: </h6>
                        <a class="collapse-item" href="@Url.Action("Index","GiangVien",null)">Giảng viên</a>
                        <a class="collapse-item" href="@Url.Action("Index","LopHocPhan",null)">Lớp học phần</a>
                        @*<a class="collapse-item" href="utilities-animation.html">Animations</a>
                    <a class="collapse-item" href="utilities-other.html">Other</a>*@
                    </div>
                </div>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider">

            <!-- Heading -->
            <div class="sidebar-heading">
                Quản lý lớp học, sinh viên
            </div>

            <!-- Nav Item - Pages Collapse Menu -->
            <li class="nav-item ">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePages" aria-expanded="false"
                   aria-controls="collapsePages">
                    <i class="fas fa-fw fa-book-reader"></i>
                    <span>Lớp học, sinh viên</span>
                </a>
                <div id="collapsePages" class="collapse nav-3" aria-labelledby="headingPages"
                     data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <h6 class="collapse-header">Các lựa chọn:</h6>
                        <a class="collapse-item" href="@Url.Action("Index","Lop",null)">Danh sách lớp học</a>
                        <a class="collapse-item" href="@Url.Action("Index","SinhVien",null)">Danh sách sinh viên</a>
                        @*<a class="collapse-item" href="#">Phân công lớp giảng dạy</a>*@
                        @*<a class="collapse-item" href="forgot-password.html">Forgot Password</a>
                    <div class="collapse-divider"></div>
                    <h6 class="collapse-header">Other Pages:</h6>
                    <a class="collapse-item" href="404.html">404 Page</a>
                    <a class="collapse-item active" href="blank.html">Blank Page</a>*@
                    </div>
                </div>
            </li>


            <!-- Divider -->
            <hr class="sidebar-divider">

            <!-- Heading -->
            <div class="sidebar-heading">
                Hệ thống
            </div>

            <!-- Nav Item - Pages Collapse Menu -->
            <li class="nav-item ">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseAccounts" aria-expanded="true"
                   aria-controls="collapseAccounts">
                    <i class="fas fa-fw fa-user-circle"></i>
                    <span>Quản lý tài khoản</span>
                </a>
                <div id="collapseAccounts" class="collapse" aria-labelledby="headingAccounts"
                     data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <h6 class="collapse-header">Các lựa chọn:</h6>
                        @*<a class="collapse-item">Danh sách tài khoản</a>*@
                        <a class="collapse-item" data-toggle="modal" data-target="#infUserModal">Thông tin tài khoản</a>
                        <a class="collapse-item" data-toggle="modal" data-target="#changePassword">Đổi mật khẩu</a>
                    </div>
                </div>
            </li>

            <!-- Nav Item - Charts -->
            <!--<li class="nav-item">
        <a class="nav-link" href="charts.html">
            <i class="fas fa-fw fa-chart-area"></i>
            <span>Charts</span>
        </a>
    </li>-->
            <!-- Nav Item - Tables -->
            <!--<li class="nav-item">
        <a class="nav-link" href="tables.html">
            <i class="fas fa-fw fa-table"></i>
            <span>Tables</span>
        </a>
    </li>-->
            <!-- Divider -->
            <hr class="sidebar-divider d-none d-md-block">

            <!-- Sidebar Toggler (Sidebar) -->
            <div class="text-center d-none d-md-inline">
                <button class="rounded-circle border-0" id="sidebarToggle"></button>
            </div>

        </ul>
        <!-- End of Sidebar -->
        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

                    <!-- Sidebar Toggle (Topbar) -->
                    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                        <i class="fa fa-bars"></i>
                    </button>

                    <!-- Topbar Search -->
                    <form class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
                        <div class="input-group">
                            <input type="text" class="form-control bg-light border-0 small" placeholder="Search for..."
                                   aria-label="Search" aria-describedby="basic-addon2">
                            <div class="input-group-append">
                                <button class="btn btn-primary" type="button">
                                    <i class="fas fa-search fa-sm"></i>
                                </button>
                            </div>
                        </div>
                    </form>

                    <!-- Topbar Navbar -->
                    <ul class="navbar-nav ml-auto">

                        <!-- Nav Item - Search Dropdown (Visible Only XS) -->
                        <li class="nav-item dropdown no-arrow d-sm-none">
                            <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button"
                               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-search fa-fw"></i>
                            </a>
                            <!-- Dropdown - Messages -->
                            <div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in"
                                 aria-labelledby="searchDropdown">
                                <form class="form-inline mr-auto w-100 navbar-search">
                                    <div class="input-group">
                                        <input type="text" class="form-control bg-light border-0 small"
                                               placeholder="Search for..." aria-label="Search"
                                               aria-describedby="basic-addon2">
                                        <div class="input-group-append">
                                            <button class="btn btn-primary" type="button">
                                                <i class="fas fa-search fa-sm"></i>
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </li>

                        <!-- Nav Item - Alerts -->
                        <li class="nav-item dropdown no-arrow mx-1">
                            <!--<a class="nav-link dropdown-toggle" href="#" id="alertsDropdown" role="button"
                               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-bell fa-fw"></i>-->
                                <!-- Counter - Alerts -->
                                <!--<span class="badge badge-danger badge-counter">3+</span>
                            </a>-->
                            <!-- Dropdown - Alerts -->
                            <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in"
                                 aria-labelledby="alertsDropdown">
                                <h6 class="dropdown-header">
                                    Alerts Center
                                </h6>
                                <a class="dropdown-item d-flex align-items-center" href="#">
                                    <div class="mr-3">
                                        <div class="icon-circle bg-primary">
                                            <i class="fas fa-file-alt text-white"></i>
                                        </div>
                                    </div>
                                    <div>
                                        <div class="small text-gray-500">December 12, 2019</div>
                                        <span class="font-weight-bold">A new monthly report is ready to download!</span>
                                    </div>
                                </a>
                                <a class="dropdown-item d-flex align-items-center" href="#">
                                    <div class="mr-3">
                                        <div class="icon-circle bg-success">
                                            <i class="fas fa-donate text-white"></i>
                                        </div>
                                    </div>
                                    <div>
                                        <div class="small text-gray-500">December 7, 2019</div>
                                        $290.29 has been deposited into your account!
                                    </div>
                                </a>
                                <a class="dropdown-item d-flex align-items-center" href="#">
                                    <div class="mr-3">
                                        <div class="icon-circle bg-warning">
                                            <i class="fas fa-exclamation-triangle text-white"></i>
                                        </div>
                                    </div>
                                    <div>
                                        <div class="small text-gray-500">December 2, 2019</div>
                                        Spending Alert: We've noticed unusually high spending for your account.
                                    </div>
                                </a>
                                <a class="dropdown-item text-center small text-gray-500" href="#">Show All Alerts</a>
                            </div>
                        </li>

                        <!-- Nav Item - Messages -->
                        <li class="nav-item dropdown no-arrow mx-1">
                            <!--<a class="nav-link dropdown-toggle" href="#" id="messagesDropdown" role="button"
                               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-envelope fa-fw"></i>-->
                                <!-- Counter - Messages -->
                                <!--<span class="badge badge-danger badge-counter">7</span>
                            </a>-->
                            <!-- Dropdown - Messages -->
                            <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in"
                                 aria-labelledby="messagesDropdown">
                                <h6 class="dropdown-header">
                                    Message Center
                                </h6>
                                <a class="dropdown-item d-flex align-items-center" href="#">
                                    <div class="dropdown-list-image mr-3">
                                        <img class="rounded-circle" src="img/undraw_profile_1.svg"
                                             alt="...">
                                        <div class="status-indicator bg-success"></div>
                                    </div>
                                    <div class="font-weight-bold">
                                        <div class="text-truncate">
                                            Hi there! I am wondering if you can help me with a
                                            problem I've been having.
                                        </div>
                                        <div class="small text-gray-500">Emily Fowler · 58m</div>
                                    </div>
                                </a>
                                <a class="dropdown-item d-flex align-items-center" href="#">
                                    <div class="dropdown-list-image mr-3">
                                        <img class="rounded-circle" src="img/undraw_profile_2.svg"
                                             alt="...">
                                        <div class="status-indicator"></div>
                                    </div>
                                    <div>
                                        <div class="text-truncate">
                                            I have the photos that you ordered last month, how
                                            would you like them sent to you?
                                        </div>
                                        <div class="small text-gray-500">Jae Chun · 1d</div>
                                    </div>
                                </a>
                                <a class="dropdown-item d-flex align-items-center" href="#">
                                    <div class="dropdown-list-image mr-3">
                                        <img class="rounded-circle" src="img/undraw_profile_3.svg"
                                             alt="...">
                                        <div class="status-indicator bg-warning"></div>
                                    </div>
                                    <div>
                                        <div class="text-truncate">
                                            Last month's report looks great, I am very happy with
                                            the progress so far, keep up the good work!
                                        </div>
                                        <div class="small text-gray-500">Morgan Alvarez · 2d</div>
                                    </div>
                                </a>
                                <a class="dropdown-item d-flex align-items-center" href="#">
                                    <div class="dropdown-list-image mr-3">
                                        <img class="rounded-circle" src="https://source.unsplash.com/Mv9hjnEUHR4/60x60"
                                             alt="...">
                                        <div class="status-indicator bg-success"></div>
                                    </div>
                                    <div>
                                        <div class="text-truncate">
                                            Am I a good boy? The reason I ask is because someone
                                            told me that people say this to all dogs, even if they aren't good...
                                        </div>
                                        <div class="small text-gray-500">Chicken the Dog · 2w</div>
                                    </div>
                                </a>
                                <a class="dropdown-item text-center small text-gray-500" href="#">Read More Messages</a>
                            </div>
                        </li>

                        <div class="topbar-divider d-none d-sm-block"></div>

                        @Html.Action("_InfoUser", "Home")

                    </ul>

                </nav>
                <!-- End of Topbar -->
                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- Page Heading -->
                    @*<h1 class="h3 mb-4 text-gray-800">Blank Page</h1>*@
                    @RenderBody()
                    @Html.Partial("_Toast")
                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->
            <!-- Footer -->
            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Copyright &copy; My Website 2022</span>
                    </div>
                </div>
            </footer>
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->
    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title text-info" id="exampleModalLabel">Đăng xuất</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Bạn có muốn đăng xuất không?</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Không</button>
                    <a class="btn btn-primary" href="@Url.Content("/Home/DangXuat")"><i class="fas fa-sign-out-alt"></i> Đăng xuất </a>
                </div>
            </div>
        </div>
    </div>

    <!-- The Modal -->
    <div class="modal fade" id="infUserModal">
        <div class="modal-dialog modal-dialog-centered modal-xl modal-dialog-scrollable">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title text-info">Thông tin tài khoản</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-8">
                            <div class="row">
                                @Html.Hidden("Id3")
                                <div class="form-group col-md-6">
                                    @Html.Label("Họ đệm", htmlAttributes: new { @class = "control-label col-md" })
                                    <div class="col-md">
                                        @Html.Editor("Ho3", new { htmlAttributes = new { @class = "form-control" } })
                                    </div>
                                </div>

                                <div class="form-group col-md-6">
                                    @Html.Label("Tên", htmlAttributes: new { @class = "control-label col-md" })
                                    <div class="col-md">
                                        @Html.Editor("Ten3", new { htmlAttributes = new { @class = "form-control" } })
                                    </div>
                                </div>

                            </div>

                            <div class="row">
                                <div class="form-group col-md-6">
                                    @Html.Label("Giới tính", htmlAttributes: new { @class = "control-label col-md" })
                                    <div class="col-md">
                                        @Html.DropDownList("GioiTinh3", new SelectList(new[] { "Nam", "Nữ" }), "", new { @class = "form-control" })
                                    </div>
                                </div>

                                <div class="form-group col-md-6">
                                    @Html.Label("Ngày sinh", htmlAttributes: new { @class = "control-label col-md" })
                                    <div class="col-md">
                                        @Html.TextBox("NgaySinh3", null, "{0:yyyy-MM-dd}", new { @class = "form-control", @type = "date" })
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.Label("Email", htmlAttributes: new { @class = "control-label col-md" })
                                <div class="col-md">
                                    @Html.Editor("Email3", new { htmlAttributes = new { @class = "form-control", @type = "email" } })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.Label("CCCD", htmlAttributes: new { @class = "control-label col-md" })
                                <div class="col-md">
                                    @Html.Editor("CCCD3", new { htmlAttributes = new { @class = "form-control" } })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.Label("Số điện thoại", htmlAttributes: new { @class = "control-label col-md" })
                                <div class="col-md">
                                    @Html.Editor("SDT3", new { htmlAttributes = new { @class = "form-control" } })
                                </div>
                            </div>

                        </div>

                        <div class="col-md-4">
                            <div class="form-group">
                                @Html.Label("Hình ảnh", htmlAttributes: new { @class = "control-label col-md" })
                                @Html.Hidden("Anh3")
                                <div class="card border-info shadow-sm">
                                    <div class="card-header">Cập nhật hình ảnh cho tài khoản</div>
                                    <div class="card-body">
                                        <div class="text-center">
                                            <img src="" class="avatar3  img-thumbnail " alt="avatar" />
                                        </div>
                                    </div>
                                    <div class="card-footer">
                                        <div class="custom-file">
                                            <input type="file" name="ImageFile" id="customFile3" class="text-center center-block file-upload3 custom-file-input">
                                            <label class="custom-file-label loadtext3" for="customFile3">Chọn file</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="modal-footer">
                    <div class="">
                        <button type="button" class="update2 btn btn-outline-success"><i class="far fa-edit"></i> Cập nhật</button>
                        <button type="button" class="btn btn-outline-primary" data-dismiss="modal"><i class="fas fa-times"></i> Đóng</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- The Modal -->
    <div class="modal fade" id="changePassword">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title text-info">Đổi mật khẩu</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <!-- Modal body -->
                <div class="modal-body">
                    <div class="form-group">
                        @Html.Label("Mật khẩu cũ", htmlAttributes: new { @class = "control-label col-md" })
                        <div class="col-md">
                            @Html.Password("MatKhauCu", null, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.Label("Mật khẩu mới", htmlAttributes: new { @class = "control-label col-md" })
                        <div class="col-md">
                            @Html.Password("MatKhauMoi1", null, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.Label("Xác nhận mật khẩu mới", htmlAttributes: new { @class = "control-label col-md" })
                        <div class="col-md">
                            @Html.Password("MatKhauMoi2", null, new { @class = "form-control" })
                        </div>
                    </div>
                </div>

                <!-- Modal footer -->
                <div class="modal-footer">
                    <div class="">
                        <button type="button" class="change btn btn-outline-success"><i class="far fa-edit"></i> Cập nhật</button>
                        <button type="button" class="btn btn-outline-primary" data-dismiss="modal"><i class="fas fa-times"></i> Đóng</button>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <!-- Bootstrap core JavaScript-->
    <script src="~/Assets/vendor/jquery/jquery.min.js"></script>
    <script src="~/Assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    @*<script src="~/Assets/vendor/bootstrap/js/bootstrap.min.js"></script>*@

    <!-- Core plugin JavaScript-->
    <script src="~/Assets/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="~/Assets/js/sb-admin-2.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>

    <!--Reference the SignalR library. -->
    <script src="~/Scripts/jquery.signalR-2.4.3.min.js"></script>
    <!--Reference the autogenerated SignalR hub script. -->
    <script src="~/signalr/hubs"></script>

    @RenderSection("Script", false)

    <script>
        $(document).ready(function () {
            var chat = $.connection.chatHub;

            chat.client.connected = function () {

            };
            $.connection.hub.start().done(function () {

            });
        });

        $(".update2").click(function () {
            var formdata = new FormData();
            formdata.append("Id", $("#Id3").val());
            formdata.append("Ho", $("#Ho3").val());
            formdata.append("Ten", $("#Ten3").val());
            formdata.append("GioiTinh", $("#GioiTinh3").val());
            formdata.append("NgaySinh", $("#NgaySinh3").val());
            formdata.append("Email", $("#Email3").val());
            formdata.append("CCCD", $("#CCCD3").val());
            formdata.append("SDT", $("#SDT3").val());
            formdata.append("Anh", $("#Anh3").val());
            formdata.append("ImageFile", $("#customFile3").get(0).files[0]);
            $.ajax({
                async: true,
                url: '@Url.Action("Edit", "Home")',
                contentType: false,
                processData: false,
                data: formdata,
                dataType: 'json',
                type: 'POST',
                success: function (data) {
                    if (data.status == true) {
                        toastr.options.positionClass = "toast-bottom-right";
                        toastr.success("Chỉnh sửa thành công");
                        $('#infUserModal').modal('hide');
                    }
                    else {
                        alert(data.status);
                        toastr.options.positionClass = "toast-bottom-right";
                        toastr.warning('Chỉnh sửa không thành công');
                    }
                },
                error: function () {
                    toastr.options.positionClass = "toast-bottom-right";
                    toastr.warning('Chỉnh sửa không thành công');
                }

            });
        });

        $('.change').on('click', function () {
            var MatKhauCu = $('#MatKhauCu').val();
            var MatKhauMoi1 = $('#MatKhauMoi1').val();
            var MatKhauMoi2 = $('#MatKhauMoi2').val();
            if (MatKhauCu.trim() == '' || MatKhauMoi1.trim() == '' || MatKhauMoi2.trim() == '') {
                alert("Vui lòng nhập đầy đủ thông tin!");
                return;
            }
            if (MatKhauMoi1.trim() != MatKhauMoi2.trim()) {
                alert("Xác nhận mật khẩu không chính xác!");
                return;
            }
            $.ajax({
                url: '@Url.Action("ChangePassword", "Home")',
                data: { MatKhauCu: MatKhauCu, MatKhauMoi: MatKhauMoi1 },
                dataType: 'json',
                type: 'POST',
                success: function (data) {
                    if (data.status == true) {
                        alert("Đổi mật khẩu thành công");
                        toastr.options.positionClass = "toast-bottom-right";
                        toastr.success("Chỉnh sửa thành công");
                        $('#changePassword').modal('hide');
                    }
                    else {
                        alert(data.status);
                        toastr.options.positionClass = "toast-bottom-right";
                        toastr.warning('Chỉnh sửa không thành công');
                    }
                },
                error: function () {
                    toastr.options.positionClass = "toast-bottom-right";
                    toastr.warning('Chỉnh sửa không thành công');
                },
                complete: function () {
                    $('#MatKhauCu').val('');
                    $('#MatKhauMoi1').val('');
                    $('#MatKhauMoi2').val('');
                }
            });
        });

        $('#infUserModal').on('show.bs.modal', function () {
            $.ajax({
                url: '@Url.Action("ThongTinTaiKhoan", "Home")',
                data: {},
                dataType: 'json',
                type: 'GET',
                success: function (data) {
                    $.each(data.data, function (index, row) {
                        $("#Id3").val(row.Id);
                        $("#Ho3").val(row.Ho);
                        $("#Ten3").val(row.Ten);
                        $("#GioiTinh3").val(row.GioiTinh);
                        $("#NgaySinh3").val(row.NgaySinh);
                        $("#Email3").val(row.Email);
                        $("#CCCD3").val(row.CCCD);
                        $("#SDT3").val(row.SDT);
                        var link = row.Anh;
                        $("#Anh3").val(link);
                        $(".avatar3").attr('src', link);
                        $(".loadtext3").html(row.Anh.split('/').pop());
                    });
                },
                error: function () {
                    alert("Có lỗi xảy ra")
                }
            });
        });
    </script>

    <script type="text/javascript">
        $(document).ready(function () {

            $(".custom-file-input").on("change", function () {
                var fileName = $(this).val().split("\\").pop();
                $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
            });

            var readURL3 = function (input) {
                if (input.files && input.files[0]) {
                    var reader = new FileReader();

                    reader.onload = function (e) {
                        $('.avatar3').attr('src', e.target.result);
                    }

                    reader.readAsDataURL(input.files[0]);
                }
            }


            $(".file-upload3").on('change', function () {
                readURL3(this);
            });
        });
    </script>

</body>

</html>