@model tblBuoiDiemDanh

@{
    ViewBag.Title = "Create";
    Layout = "~/Areas/GiangVien/Views/Shared/_LayoutGV.cshtml";
}

@Html.Action("LoadItem", "LopHocPhan", new { id = @ViewBag.MaLHP })

<div>
    @Html.ActionLink("Back to List", "Index", new { id = ViewBag.MaLHP }, new { @class = "btn btn-success" })
</div>
<br>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="card shadow mb-4 border-left-info">
        <div class="form-horizontal">
            <div class="card-header py-3">
                <h4>Tạo buổi diểm danh</h4>
            </div>

            <div class="card-body">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    <div class="col-md-10">
                        @Html.HiddenFor(model => model.MaLHP, htmlAttributes: new { @Value = ViewBag.MaLHP, @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.MaLHP, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.NgayDD, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(model => model.NgayDD, "{0:yyyy-MM-ddThh:mm}", new { @class = "form-control", @type = "datetime-local", @Value = DateTime.Now.ToString("yyyy-MM-ddThh:mm"), @Readonly = "" })
                        @Html.ValidationMessageFor(model => model.NgayDD, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.HanDD, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(model => model.HanDD, "{0:yyyy-MM-ddThh:mm}", new { @class = "form-control", @type = "datetime-local" })
                        @Html.ValidationMessageFor(model => model.HanDD, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <button type="submit" value="Create" class="btn btn-primary"><i class="fas fa-plus-circle"></i> Create</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

@section Script {
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

    <script>
        $(document).ready(function () {
            $('.item-5').addClass("active");
        });
    </script>
}